@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --primary-color: #10489F;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 3rem !important;
}

h2{
    font-size: 2.25rem !important;
}

h3{
    font-size: 1.5rem !important;
}

h4{
    font-size: 1rem !important;
}

a{
    text-decoration: none !important;
    color: var(--primary-color) !important;
}

.container-fluid{
    max-width: 72% !important;
    margin: 0 14% !important;
}

.row{
    width: 100% !important;
    margin-right: 0px !important;
}

i{
    color: var(--primary-color);
    font-size: 1.25em;
}

span a{
    font-size: 1.25em;
    padding: 0 5px;
}

/* form section */

.FormSection{
    padding: 50px 0;
}

.heading{
    text-align: center;
}

.heading h1{
    font-size: 3em;
    font-weight: 400;
}

.heading p{

    font-size: 1.2em;
    margin-bottom: 20px;
}

.heading p::after{
    content: "";
    width: 168px;
    height: 1px;
    background-color: #c7d1e4;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.loginForm h2{
    font-size: 2.25em;
    font-weight: 650;
    margin-bottom: 30px;
}

label{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 14px;
}

.loginButton{
    width:100%;
    background-color: var(--primary-color) !important;
    text-align: center;
    color: #fff !important;
    padding: 18px 0 !important;
    font-size: 1.2em !important;
    font-weight: bolder !important;
}

/* Create Account */

.createAccount{
    width: 100% !important;
    background-color: #f6fafe;
    text-align:justify;
    padding: 20px 50px;
}

.createAccount h3{
    font-size: 2rem !important;
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.createAccount p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.createAccountbtn{
    width: 100% !important;
    color: var(--primary-color) !important;
    text-align: center;
    border: 2px solid var(--primary-color) !important;
    background-color: #fff !important; 
    font-size: 1.25em !important;
    padding: 18px 0;
}

.askQuestion{
    padding: 20px 50px;
}

.askQuestion h2{
    font-size: 2rem !important;
    font-weight: 200;
    padding-top: 12px;
}


/* FAQ */


.FAQs{
    width: 100%;
    padding: 50px 0;
    background-image: url("bg-faq.webp");
    background-size: cover;
}
.FAQs small::after{
    content: "";
    width: 168px;
    height: 1px;
    background-color: #c7d1e4;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}


img{
    max-width: 100%;
    height: auto;
}

/*  Download section */

.download h3{
    font-weight: 400;
}

/* footer */

.upperFooter{
    background-color: #1d3146;
    padding: 20px 0;
}
.upperFooter img{
    width: 200px;
    height: auto;
}

.lowerFooter{
    background-color: #425364;
    color: #fff;
    padding: 46px 0;
}

.lowerFooter p{
    font-size: 1rem;
}

.lowerFooter a{
    color: #fff !important;
    text-decoration: underline !important;
}

/* media query */
@media screen and (max-width:576px) {
    h1{
        font-size: 2.5rem !important;
    }
    
    h2{
        font-size: 1.5rem !important;
    }
    
    h3{
        font-size: 1.25rem !important;
    }
    
    h4{
        font-size: 1 !important;
    }
    body{
        text-align: center !important;
    }
    .container-fluid{
        max-width:100%;
        margin: 0;
    }

    .textCenter{
        text-align: center !important;
        padding: 15px 0 !important;
    }

    .createAccount{
        margin: 20px 0;
        padding: 20px 0 !important;
    }

    .offset-1{
        margin-left: 0 !important;
    }
}

/* error page stylesheet */
.bodyStyle{
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-direction: column;
}

.errorBox{
    max-width: 500px;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    padding: 18px 25px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.errorBox h3{
    margin: 15px 0;
}

.errorBox h4{
    margin: 15px 0;
}

.errorBox button{
    border: none;
    background-color: deepskyblue;
    color: #fff;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 2px;
}

.errorBox button:hover{
    cursor: pointer;
}

.contactButton{
    background-color: transparent;
    border: 2px solid #fff;
    width: 280px;
    height: 70px;
    text-align: center;
    color:#fff;
    border-radius: 70px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    margin-top: 15px;
}

.contactButton img{
    width:50px;
    height: auto;
}

.contactButton:hover{
    cursor: pointer;
}

